:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    padding-top: 100px;
    display: flex;
    height: 100vh;
    background-color: rgb(150, 145, 145);
}

.slideshow {
    margin: auto;
    width: 60vw;
    aspect-ratio: calc(20 / 9);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
