.wrapper {
    height: 54px;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.content {
    width: 800px;
    display: flex;
    font-size: 17px;
    background-color: rgb(81, 83, 83);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

li {
    width: 25%;
    margin-right: 10px;
}

.bars {
    background: #ffffff;
    border-width: 0;
}
