.wrapper {
    height: 54px;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.content {
    width: 1170px;
    display: flex;
    font-size: 17px;
}

a {
    text-align: center;
}
